<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <title>Title</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" href="{{ url_for('index') }}">Process Audio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('create_user') }}">회원가입</a>
      </li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>

<script src="/static/bootstrap.min.js"></script>
<script src="/static/recorder.js"></script>

