{% extends 'base.html' %}
{% block content %}
<style>
        .custom-box {
            padding: 20px; /* 내부 여백을 추가하여 박스 내부의 내용이 더 잘 보이도록 함 */
            border-radius: 10px; /* 박스의 모서리를 둥글게 설정 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
        }
</style>

<div class="container mt-5 rounded custom-box" style="max-width: 500px; margin: auto;"> <!-- 좌우 여백을 늘리기 위한 컨테이너 및 박스 스타일 적용 -->
  <h3 class="text-center my-3">로그인</h3>
  <form action="/user/login" method="post" class="mx-auto" style="max-width: 400px;">
    <div class="mb-3">
      <label for="username" class="form-label">ID</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">비밀 번호</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
</div>
{% endblock %}